{
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Poppins&family=Work+Sans:wght@800&display=swap" rel="stylesheet">
}
{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
   font-family: 'Work Sans', sans-serif;
}
.header{
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text-title{
    font-size: 2.8rem;
    font-weight: 700;
    text-align: center;

}
.text-child{
    color:#FF42A5;
}
.text-child-title{
    color: #0B0223;
}
nav > ul{
    color: #3C354F;
    display: flex;
    
   
}
nav li{
    list-style: none;
    margin-right: 30px;
    font-size:1.2rem ;
    font-weight:500 ;
}
nav li a{
    text-decoration: none;
    color: #3C354F;
}
.banner{
    display: flex;
    justify-content: space-around;
    padding: 30px;
}
.banner-child-title{
    color: #0B0223;
    text-align: center;
    font-size: 3rem;
   font-weight: 600;
   
}
.banner-child{
    text-align: center;
    mix-blend-mode:(#F948B2, #8758F1);
    font-size: 5.9rem;
    font-weight: 800;
    margin-top: 0;
    margin-bottom: 24px;
}
.banner-description{
    color: #534C64;
    font-size: 1.4rem;
    font-weight: 500;
}
.banner-btn{
    gap: 60px;
}
.btn-primary{
    padding: 20px 40px;
    color: #FFF;
    border: 1px solid tomato;
    background-color: #FF42A5;
    border-radius: 40px;
}
.btn-second{
    padding: 20px 40px;
    border-radius: 40px;
    background: #4EC5F7;
}
